/*Author: Mihai Mehedint
Project: Towers of Hanoi
*/
/*Author: Mihai Mehedint
 Project: Towers of Hanoi
 */


.slideShowImages {
    position: relative;
    /* necessary to absolutely position the images inside */
    width: 500px;
    /* same as the images inside */
    height: 100px;
}
.slideShowImages img {
    position: absolute;
    display: none;
}
.slideShowImages img:first-child {
    display: block;
    /* overrides the previous style */
}
