

html, body {
    position: fixed;
    margin: 0;
    padding: 0;
    font-size: large;
}


/*unvisited link*/
a:link {
    color: #00703C;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: #00703C;
}

/* mouse over link */
a:hover {
    color: #00703C;
}

/* selected link */
a:active {
    color: #00703C;
}

div {
    border-radius: 15px;
    border: 0px solid #000000;
    
    /*
     padding: 2px 20px;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-align-content: space-around;
   display: flex;
    flex-flow: row wrap;
    align-content: space-around;*/
}

#the_grid {height:100%;
           height: 690px;
           margin: 0;
           padding: 0;
           border:10px #000000 solid;
}

#map-canvas {
    height:100%;
    width:1002px;
    /*height: 690px;*/
    margin: 0;
    padding: 0;
    border:0px #000000 solid;
    position: absolute;
    top:10px;
    left:300px;
}

#viewing-window {height: 512px; width: 512px; top:100px; left:300px; margin: 0; padding: 0;
    position: absolute}

#div1:hover, #floors_menu:hover{
     border: 1px dotted #ff0000; Red 2 pix dotted line border*/
    /*background-color: #ffffff;*/
    box-shadow: 2px 2px 5px #888888;
}

#div2 {
    border: 0 solid #c3c3c3;
    box-shadow: none;
}
#the_menu{
    display: -webkit-flex;
    display: flex;
    max-width: 320px;
    position: relative;
    border: none;
    z-index: 2;
    top:10px;
}

#floors_menu {

    -webkit-flex: initial;
    flex: initial;
    width: 290px;
    min-width: 150px;
    border: none;
    padding: 2px 20px;
}

#buttons {
    position: absolute;
    -webkit-flex: none;
    flex: none;
    width: 20px;
    right: 25px;
    top: 0;
    z-index: 2;
    padding: 0 0;
    border: none;
}
#atkins_canvas{
    position: absolute;
    border: 1px solid #000000;
    width: 804px;
    height: 528px;
    top:50px;
    left:300px;
    /*border: 1px solid #000000;*/
}

button{

    border: none;
    box-shadow: none;
    background-color: transparent;
    color:green;
    /*margin-left: 1%;*/

}

button:hover{
    color:red;
    text-shadow: 2px 2px 5px #888888;

}

li:before:hover{
    color: red;
}

li {
    border: none;
    padding: 2px 10px;
}



ul{
    border: none;
    padding: 2px 2px;
    list-style: none;
}
img{
    height:100%;
    width:100%;
}



/*classes */
.information{
    position: absolute;
    top: -300px;
    left:-820px;
    height:80%;
    margin: 0px;
    padding: 0px;
    border:0px #000000 solid;
}

.li_hover:hover{
    color:red;
    text-shadow: 2px 2px 2px #ccc;
    list-style-type: normal;
    /*text-align: center;*/
    background-color: transparent;
    box-shadow: 2px 2px 5px #888888;
    border: 1px solid #ffffff;
    list-style: circle;
    /*border-radius: 10px;*/
}

.li_hover{
    /*text-align: center;*/
    border: 1px solid #ffffff;
    border-radius: 4px;
}


.shadow_class{
    background-color: aliceblue;
    color: #00703C;
    border-bottom-left-radius: 2%;
    /*border-style: inset;*/
    box-shadow: 2px 2px 5px #ffffff;
    text-shadow:2px 2px 5px #888888;
}

.container {
    position: relative;
    width: 100%;
}

.right {
    position: relative;
    margin-left: 0;
    margin-top: 0;
}


